/.NET Reflector
/绿色软件
/SSR/temp
/Listary
/TotalCommand/User/Tclog.txt
/TotalCommand/User/History.ini
/TotalCommand/Tools/Everything.db
/OCR
/Navicat Premium 12
/TotalCommand/User/User.ini
/SSR/transfer_log.json
/TeamViewer
